/.env
/.env.backup
/.env.bak
/.env.back
/.idea
/composer.phar
/composer.lock
/.DS_Store
/Thumbs.db
/phpunit.xml
/.vscode
/vendor
/node_modules
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
/package-lock.json