body[data-page="documentation"] {
  .banner_area {
    .banner_content {
      p {
        font-size: 16px;
      }
    }
  }
  .docs_list {
    .card {
      border: 2px solid #3b328a;
      border-radius: 10px;
      .card-body {
        h4 {
          color: #3b328a;
          font-size: 25px;
          font-weight: 400;
          font-family: 'Shrikhand', cursive;
          @media screen and (min-width: 992px) {
            line-height: 4;
          }
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}